<div class="wrap">
<h3>Instagram HashViewer</h3>
<div class="row">
	{# adjust gallery size depending if a competition is selected #}
	<div class="col-sm-{{ comp is defined ? '8' : '11' }}">
		{# Search block, only visible if no competition is selected #}
		{% if comp is empty %}
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">

					<div class="input-group">
						<input type="text" id="tag-text" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" id="tag-btn" onClick="HashViewer.updateGallery()">Go!</button>
						</span>
					</div>

					<span class="help-block">Input Instagram tag</span>
				</div>
			</div>
		</div>
		{% endif %}

		<div class="container col-sm-12">
			<div id="error-container" class="hidden alert alert-danger">
			</div>
			<div id="gallery" class="row">
			</div>
			<div class="col-xs-12 text-center">
				<button onclick="HashViewer.updateGallery()" class="hidden btn btn-default btn-lg" type="button" id="more-btn">Load more</button>
			</div>
		</div>

		
	</div>

	{# admin-panel, only visible if a competition is selected #}
	{% if comp.hashtags is defined %}
	<div class="col-sm-3">
		<div id="hashviewer-admin-panel">
			<h4>Manage competitions</h4> 
			{% if comp.title is defined %}
				<p>Competition</p>
				<label>{{comp.title}}</label>
			{% endif %}
		</div>
	</div>
	{% endif %}
</div>
<div class="clearfix"></div>
{% if comp.hashtags is defined %}
	<script type="text/javascript">HashViewer.updateGallery("{{ comp.hashtags }}");  </script>
{% endif %}
</div>
<footer>
	<hr />
	<p><em>This page is made with the Instagram API.</em>
</footer>


